<% provide(:title, "Home")%>


    <h1>Home</h1>
    <p>
    Soportado por : <a href="thecoderun.com.ve">
    <em>The code run</em></a>
    <a href="kw0lf.org">Victor cedeno</a> y
    <a href="alternetica.com">Compania de respaldo</a>

    </p>
